<% if flash[:success] %>
    <p><%= flash[:success] %></p>
<% end %>

<h2>Submitted Info</h2>
<p>Name: <%= @user.name %></p>
<p>Dojo Location: <%= @user.location %></p>
<p>Favorite Language: <%= @user.language %></p>
<p>Comment: <%= @user.comment %></p>